body {
    margin: 0;
}
section {
    height: auto;
    padding: 10px;
}
.even {
    background-color: rgb(55, 140, 255);
    color: white;
    h2 {
        div {
            background-color: white;
        }
    }
}
.uneven {
    background-color: rgb(255, 255, 255);
    color: black;
    h2 {
        div {
            background-color: black;
        }
    }
}
ul, #contact > #social {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    li {
        display: block;
        padding: 3px;
    }
}
nav {
    z-index: 1;
    position: fixed;
    width: 100vw;
    bottom: 0;
    height: auto;
    border-top: 1px solid black;
    ul {
        background-color: rgb(55, 140, 255);
        .light {
            position: absolute;
            margin-left: -8px;
            margin-top: -40px;
            width: 48px;
            height: 0px;
            background-color: darkblue;
            opacity: 0.3;
            border-radius: 20px;
        }
        li {
            :hover {
                .light {
                    height: 42px;
                }
            }
        }
    }
}
h1 {
    font-size: 40px;
}
h2 {
    text-align: center;
}
h4 {
    font-size: 24px;
    animation: textAppearIn 3.4s;
}
footer {
    height: 50px;
}
input, textarea {
    display: flex;
    justify-content: center;
    width: 94%;
    height: 30px;
    border: 1px solid rgb(55, 140, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#submit {
    margin: 10px;
}
textarea {
    height: 100px;
}
#contact {
    ul {
        display: block;
    }
}

.container {
    height: 200px;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.flipcard {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.container:hover .flipcard {
    transform: rotateY(180deg);
}
  
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #ddd;
    color: black;
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
}

@keyframes textMoveIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
    }
}
@keyframes underline {
    0% {
        margin: 0px 50% 0px 50%;
    }
    50% {
        margin: 0px 36% 0px 36%;
    }
    100% {
        margin: 0px 50% 0px 50%;
    }
}
@keyframes textAppearIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.textMoveIn {
    animation: textMoveIn 2.2s;
}

.line {
    height: 3px;
    animation: underline 4s infinite;
    margin: 0px 36% 0px 36%;
}

#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.popup-blur {
    height: 100%;
    width: 100%;
    background-color: #ddd;
    opacity: 0.8;
}
#popup-container {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
#popup-container.open {
    display: block;
}

.close-popup {
    background-color: red;
}