body {
    margin: 0;
}
section {
    height: auto;
    padding: 10px;
}
.even {
    background-color: #048ba8;
    color: white;
    div {
        margin-bottom: 10px;
        .line {
            background-color: white;
        }
    }
}
.uneven {
    background-color: #EDF7F6;
    color: black;
    div {
        margin-bottom: 10px;
        .line {
            background-color: black;
        }
    }
}
#contact {
    ul {
        display: block;
        padding: 0;
    }
    * {
        li {
            display: block;
            padding: 3px;
        }
    }
    #social {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
}
h1 {
    font-size: 40px;
}
h2 {
    text-align: center;
    margin-bottom: 0;
}
h4 {
    font-size: 24px;
    animation: textAppearIn 3.4s;
}
input, textarea {
    display: flex;
    justify-content: center;
    width: 94%;
    height: 30px;
    border: 1px solid rgb(55, 140, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#submit {
    margin: 10px;
}
textarea {
    height: 100px;
}
#submit {
    cursor: pointer;
    background-color: rgb(55, 140, 255);
    color: white;
    border: none;
}
#submit:hover {
    background-color: rgb(55, 140, 255, 0.8);
}

.container {
    height: 250px;
    max-width: 400px;
    width: inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.flipcard {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.container:hover .flipcard {
    transform: rotateY(180deg);
}
  
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 14px;
    border: 1px solid black;
    background-color: #EDF7F6;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        li {
            display: block;
        }
    }
}

.back {
    transform: rotateY(180deg);
}

@keyframes textMoveIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
    }
}
@keyframes underline {
    0% {
        margin: 0px 50% 0px 50%;
    }
    50% {
        margin: 0px 36% 0px 36%;
    }
    100% {
        margin: 0px 50% 0px 50%;
    }
}
@keyframes textAppearIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.textMoveIn {
    animation: textMoveIn 2.2s;
}

.line {
    height: 3px;
    animation: underline 4s infinite;
    margin: 0px 36% 0px 36%;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.popup-blur {
    height: 100%;
    width: 100%;
    background-color: #ddd;
    opacity: 0.8;
    cursor: pointer;
}
.popup-container {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.popup-container.open {
    display: block;
}
#skills > button{
    cursor: pointer;
    height: auto;
    aspect-ratio: 1/1;
    img {
        max-height: 150px;
        width: 150px;
    }
}

.skill-icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    img {
        height: auto;
        width: 100%;
    }
}

.next-page {
    position: absolute;
    height: 32px;
    width: 32px;
    right: 5px;
    bottom: 0px;
}





















//rebuild


//common
@font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}
* {
    font-family: 'Roboto';
    color: rgb(50, 50, 50);
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

//header
header {
    margin: 10px 10px 0px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
}
.header-inner {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 18px;
    min-width: 50%;
}
.main-menu {
    position: absolute;
    left: 0;
    right: 0;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    translate: -100vw;
    li {
        display: block;
    }
}
.menu-toggle {
    position: absolute;
    right: 40px;
}
.menu-toggle-line {
    width: 26px;
    height: 3px;
    background-color: black;
    margin: 4px 0px;
}
.nav-link {
}
.first-element {
    transition-delay: 0s;
}
.second-element {
    transition-delay: 0.1s;
}
.third-element {
    transition-delay: 0.2s;
}
.fourth-element {
    transition-delay: 0.3s;
}
.fifth-element {
    transition-delay: 0.4s;
}
.show {
    display: block;
    transform: translate(100vw);
    transition-duration: 0.8s;
}
.menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDF7F6;
    z-index: -1;
    display: none;
}

//accueil
#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    h1 {
        text-align: right;
    }
}

.card {
    max-width: 360px;
    background-color: #EDF7F6;
    height: 320px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
.card-extension {
    height: 300px;
    background-color: rgb(32, 32, 37, 0.96);
    transition: 0.5s;
    padding: 8px;
}
.card-extension:hover {
    transform: translateY(-70%);
    transition: 0.5s;
    .card-arrow {
        transform: rotate(180deg);
        transition: 0.5s;
    }
}
.card-logo {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-arrow {
    height: 40px;
    aspect-ratio: 1/1;
    background-color: #EDF7F6;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 85% 100%, 50% 25%, 15% 100%);
    margin: auto;
    transition: 0.5s;
}